.donate-btn {
    background-color: #ff0000;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.donate-btn:hover {
    background-color: #ff0000;
    color: #fff;
    border: 1px solid #ff0000;
}